.first {
margin: auto;
margin-top: 36px;
width: 20%;
height: 60px;
background: #358765;
}

.second {
display: flex;
justify-content: center;
margin-top: 20px;
}

.block {
margin: 26px;
width: 13%;
height: 150px;
background: #588924;
}

.third {
display: flex;
justify-content: center;
margin-top: 20px;
}

.block2 {
margin: 0px;
width: 15%;
height: 170px;
background: #EE2525;
}

.block2.sec {
background: #2D4BB5;
}

.block2.thi {
background: #EDF111;
}

.forth {
margin: auto;
margin-top: 45px;
width: 45%;
height: 55px;
background: #C4C4C4;
}