body{
  background-color: #454547;
 }
 header{
  margin-top: 50px;
 }
 .dws-menu *{
  margin: 0;
  padding: 0;
 }
 .dws-menu ul,
 .dws-menu ol{
  list-style: none;
 }
 .dws-menu > ul{
  display: flex;
  justify-content: center;
 }
 .dws-menu > ul li{
  position: relative;
  border-right: 1px solid #c7c8ca;
 }
 .dws-menu > ul li:first-child{
  border-left: 1px solid #b2b3b5;
 }
 .dws-menu > ul li:last-child{
  border-right: 1px solid #babbbd;
 }
 .dws-menu > ul li > a i.fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
 }
 .dws-menu > ul li a{
  display: block;
  background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%);
  
 
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform:uppercase;
  transition: all 0.3s ease;
 }
 .dws-menu li a:hover{
  background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
  color: #ffffff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
 }
 .dws-menu li ul{
  position: absolute;
  min-width: 150px;
  display: none;
 }
 .dws-menu li > ul li{
  border: 1px solid #c7c8ca;
 }
 .dws-menu li > ul li a{
  padding: 10px;
  text-transform: none;
  background: #e4e4e5;
 }
 .dws-menu li > ul li ul{
  position: absolute;
  right: -150px;
  top: 0;
 }
 .dws-menu li:hover > ul{
  display: block;
 }